<div class="featured-project container-fluid">
  <div class="col-md-6 col-xs-6">
    <h2>{{ movies.title }}</h2>
    <div class="movie-content">
      <h3>
        We have not added any information to these pages. <br />This is an
        underwhelming page
      </h3>
      <div class="row">
        <div class="col-6">
          <p>{{ movies.director }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Released: {{ movies.year }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Genre: {{ movies.genre }}</p>
        </div>
      </div>
      <div class="row info">
        <h5><span style="color: #399bd1">Summary</span></h5>
        <div class="row">
          <p class="col-8">{{ movies.summary }}</p>
        </div>
      </div>
      <div class="row info">
        <h5>Description</h5>
        <div class="row">
          <p class="col-8">{{ movies.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row content justify-content-start">
    <div *ngIf="movies.FavouriteMessage" class="col-md-12">
      <h2>A Time Tested Classic</h2>
    </div>
    <div class="col-md-auto">
      <div class="image-container">
        <a [href]="'http://localhost:3000/img/imgMovies/' + movies.imageCover"
          ><img
            [src]="'http://localhost:3000/img/imgMovies/' + movies.imageCover"
            alt="Movie Poster"
        /></a>
        <!-- you were doing js string interp..... dont forget to data bind on [src] and use html string interp i.e '+ obejct.name' -->
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<div *ngIf="movies.FavouriteMessage" class="container-fluid title">
  <div class="row">
    <div class="col-6">
      <div>
        <h3>Why its my Favourite</h3>
        <p>{{ movies.FavouriteMessage }}</p>
      </div>
    </div>
  </div>
</div>
<div class="accordion gallery" id="accordionExample">
  <div class="container-fluid">
    <a
      class="btn btn-link"
      type="button"
      data-toggle="collapse"
      data-target="#collapseOne"
      aria-expanded="true"
      aria-controls="collapseOne"
    >
      <div>
        <h3>Photo Gallery <i class="fas fa-angle-down"></i></h3>
      </div>
    </a>
    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="gallery">
        <div *ngFor="let img of movies.images">
          <div class="image-container" id="gallery-photos">
            <a [href]="'http://localhost:3000/img/imgMovies/' + img">
              <img
                [src]="'http://localhost:3000/img/imgMovies/' + img"
                alt="Movie image"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab delectus
      nobis facere debitis aut tempora, sed, nihil harum quibusdam ea illo culpa
      consequuntur est dignissimos dicta adipisci autem! Ullam, rerum.
    </p>
  </div>
</footer>
