<!-- <div class="container-fluid title">
  <h3>Hobbies and Interests</h3>
    <p>
      Growing up in the nineties and 2000's, video games were a big part of our childhood. Here's a
      few that we can never forget
    </p>
</div> -->
<div class="full-page">
  <div class="featured-project container">
    <div class="row justify-content-center">
      <div class="image-container justify-content-center">
        <a [href]="'http://localhost:3000/img/imgAlbums/' + albums.imageCover"
          ><img
            [src]="'http://localhost:3000/img/imgAlbums/' + albums.imageCover"
            alt="Album Art"
        /></a>
        <!-- you were doing js string interp..... dont forget to data bind on [src] and use html string interp i.e '+ obejct.name' -->
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="title">
        <h1>{{ albums.album }} by {{ albums.artist }}</h1>
      </div>
    </div>
    <div class="album-content">
      <div class="row justify-content-between sub-info">
        <!-- <div class="col"> -->
        <p class="col-sm-6">Released: {{ albums.yearActive }}</p>
        <!-- </div> -->
        <p class="col-sm-6">Genre: {{ albums.genre }}</p>
      </div>
      <div class="description-title">
        <div class="row info justify-content-center">
          <h2 class="col-4"><span style="color: #399bd1">Description</span></h2>
        </div>
        <div class="row description justify-content-center">
          <p class="col-8">{{ albums.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion gallery" id="accordionExample">
    <div class="container-fluid">
      <a
        class="btn btn-link"
        type="button"
        data-toggle="collapse"
        data-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <div>
          <h3>Photo Gallery <i class="fas fa-angle-down"></i></h3>
        </div>
      </a>
      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordionExample"
      >
        <!-- <div class="gallery">
            <div *ngFor="let img of albums.images">
              <div class="image-container" id="gallery-photos">
                <a [href]="'http://localhost:3000/img/imgAlbums/' + img">
                  <img [src]="'http://localhost:3000/img/imgAlbums/' + img" alt="Game image" />
                </a>
              </div>
            </div>
          </div> -->
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab delectus
      nobis facere debitis aut tempora, sed, nihil harum quibusdam ea illo culpa
      consequuntur est dignissimos dicta adipisci autem! Ullam, rerum.
    </p>
  </div>
</footer>
