img {
  width: 100%;
}

h3 {
  font-weight: bold;
  font-size: 1.4rem;
}

.row {
  padding: 1rem 0;
}

.title {
  padding: 2rem 0 0 1.4rem;
  text-align: center;
}

.btn {
  padding: 0 !important;
}

.image-container:hover > div {
  opacity: 0.5;
}

.full-page {
  background-color: #232323;
  color: white;
}

.featured-project h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #399bd1;
  // padding: 1.5rem 0;
}

.content {
  padding-left: 0.5rem;
}

.featured-project {
  padding: 2rem 0;
}

.featured-project .image-container {
  overflow: hidden;
  width: 70%;
  height: 40vw;
  object-fit: cover;
  -webkit-box-shadow: 0px 1px 5px 6px rgba(255, 255, 255, 0.644);
  -moz-box-shadow: 0px 1px 5px 6px rgba(255, 255, 255, 0.644);
  box-shadow: 0px 1px 5px 6px rgba(255, 255, 255, 0.644);
}

.album-content {
  margin: auto 0;
  text-align: center;
}

.sub-info p {
  // text-align: center;
  font-size: 1.8rem;
}

.description {
  font-size: 1.4rem;
}

.gallery {
  border-top: 1px solid #399bd1;
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
}

.gallery .image-container {
  overflow: hidden;
  -webkit-box-shadow: 10px 9px 7px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 9px 7px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 9px 7px -7px rgba(0, 0, 0, 0.75);
}

.image-container img {
  opacity: 0.8;
  transition: transform 0.5s, opacity 0.5s;
}

.image-container img:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#gallery-photos img {
  width: 100%;
  height: 20vw;
}

.description-title {
  padding-top: 2rem;
}

.description-info {
  font-size: larger;
}

.info {
  margin: auto 0;
}

footer {
  // background-color: #f3f3f3;
  background-color: #0f0f0e;
  padding: 5.2rem 0;
  text-align: center;
  color: white;
}

.footer strong {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

footer p {
  margin: 1.4rem auto;
}
