<!-- 
  This page is ugly, a new page is being made
 -->

<div class="title">
  <h2>Blog Selection</h2>
  <h5>
    Visit the pages we're proud of! We've developed the front-end and back-end
    of all the pages using MongoDB, Express, Angular and Node.js
  </h5>
</div>

<!-- All previous work on the page has been erased-->

<div class="selection">
  <div class="row justify-content-around">
    <div class="col-4">
      <img
        [src]="'http://localhost:3000/img/selection/GamesCard.png'"
        alt="GamesCard"
      />

      <a routerLink="/masoud-games"><p>Our Games Blog</p></a>
    </div>
    <div class="col-4">
      <img
        [src]="'http://localhost:3000/img/selection/FilmsCard.png'"
        alt="FilmsCard"
      />
      <a routerLink="/hobbies-movies"><p>Our Movies Blog</p></a>
    </div>
    <div class="col-4">
      <img
        [src]="'http://localhost:3000/img/selection/AlbumsCard.png'"
        alt="AlbumsCard"
      />
      <a routerLink="/hobbies-music"><p>Our Music Blog</p></a>
    </div>
  </div>
</div>
