.box {
  height: 55rem;
  width: 90%;
  clear: both;
  margin: 5rem auto 1rem auto;
}

.colour-white {
  background-color: #ffffff;
}
.colour-yellow {
  background-color: #e9fa00;
  height: 55rem;
}

.grey {
  background-color: #f8f8f8da; // #F8F8F8
}

.txt_align {
  vertical-align: inherit;
  font-size: 6rem;
  line-height: 70px;
  font-weight: 500;
}

.txt_postion {
  display: block;
  text-align: start;
  position: relative;
}

.vertical_align {
  vertical-align: inherit;
}

.pl_6 {
  padding-left: 12rem;
}

.block-content {
  margin-top: 5rem;
  // width: 40%;
}

.black_box {
  height: 30rem;
  clear: both;
  width: 100%;
}

.black {
  background-color: black;
}

.projectImg {
  width: 100%;
}

.mt-6 {
  margin-top: 10rem;
}

