<section>
  <div class="box ">
    <div class="row">
      <div class="col-lg-3 d-flex align-items-center">
        <div class="txt_align">About <div>ME.</div> </div>
        </div>
        <div class="col-lg-9 colour-yellow pl-5"></div>
  </div>
  </div>
</section>

<section>
  <div class="box grey">
    <span>
      <div class="txt_postion pt-5">
        <span class="txt_align pl_6">DIG</span>
      </div>
      <div class="txt_postion">
        <span class="txt_align pl_6">ITAL.</span>
      </div>
    </span>
    <!-- --------------------------------------------------------------------------- -->
    
    <div class="block-content">
      <div class="row">
        <div class="col-lg-6">
          <div class="txt_postion">
            <div class="vertical_align pl_6">Year <i>overview </i></div>
          </div>
          <div class="txt_postion pl_6">
            <div class="vertical_align">of your digital</div>
          </div>
          <div class="txt_postion mb-4">
            <div class="vertical_align pl_6">
              strategy<span class="dot">.</span>
            </div>
          </div>

          <div class="vertical_align pl_6">
            <small>
              <div>
                A key component of your transformation, your digital strategy
                requires special attention.
              </div>
              <div>
                We provide you with the support you need all during your
                project.
              </div>
              <div>
                Through regular workshops, brainstormings and idea sharing, we
                help grow your initial idea into a cutting-edge digital
                solution.
              </div>
            </small>
          </div>
        </div>
        <!--col-lg-6-->

        <div class="col-lg-6">
          <div class="black_box black">
            <div class="row">
              <div class="col-sm-6 col-lg-5 text-center"> <!--FIXME:-->
                <h3 >
                  <i class="icon waves">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="33"
                      height="7"
                      viewBox="0 0 73.94 14.19"
                    >
                      <polyline
                        points="2.83 2.83 11.36 11.36 19.9 2.83 28.43 11.36 36.97 2.83 45.5 11.36 54.04 2.83 62.58 11.36 71.11 2.83"
                      ></polyline>
                    </svg>
                  </i>
                  Design
                </h3>
                  <div>Web design</div>
                  <div>Art direction</div>
                  <div>Logo &amp; branding</div>
                  <div>UI &amp; UX</div>
                  </div>
              <div class="col-sm-6 text-center">
                <h3>
                  <i class="icon waves">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="33"
                      height="7"
                      viewBox="0 0 73.94 14.19"
                    >
                      <polyline
                        points="2.83 2.83 11.36 11.36 19.9 2.83 28.43 11.36 36.97 2.83 45.5 11.36 54.04 2.83 62.58 11.36 71.11 2.83"
                      ></polyline>
                    </svg>
                  </i>
                  Digital &amp; Mobile
                </h3>
                  <div>Websites</div>
                  <div>Responsive design</div>
                  <div>Mobile &amp; Tablet</div>
                  <div>Mobile apps (iOS, Android)</div>
              </div>
              <div class="col-sm-6 col-lg-5 text-center">
                <h3>
                  <i class="icon waves">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="33"
                      height="7"
                      viewBox="0 0 73.94 14.19"
                    >
                      <polyline
                        points="2.83 2.83 11.36 11.36 19.9 2.83 28.43 11.36 36.97 2.83 45.5 11.36 54.04 2.83 62.58 11.36 71.11 2.83"
                      ></polyline>
                    </svg>
                  </i>
                  Web Development
                </h3>
                <div>Front end &amp; Back end</div>
                <div>Interaction design</div>
                <div>Magento, Wordpress</div>
                <div>Symfony, Laravel</div>
              </div>
              <div class="col-sm-6 text-center">
                <h3>
                  <i class="icon waves">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="33"
                      height="7"
                      viewBox="0 0 73.94 14.19"
                    >
                      <polyline
                        points="2.83 2.83 11.36 11.36 19.9 2.83 28.43 11.36 36.97 2.83 45.5 11.36 54.04 2.83 62.58 11.36 71.11 2.83"
                      ></polyline>
                    </svg>
                  </i>
                  Social Media &amp; Webmarketing
                </h3>
                <div>Social Media Strategy</div>
                <div>Community Management</div>
                <div>Bloggers &amp; influencers</div>
                <div>Reporting, live events</div>
                <div>Mailing &amp; competition</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="box grey">
    <div class="div text-center">Creativity</div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img
            class="projectImg"
            src="assets/images/imgblur1.jpg"
            alt="code image"
          />
        </div>
        <div class="col-lg-6">
          <div class="intro" style="">
            <div style="display: block; text-align: start; position: relative">
              <span style="transform: matrix(1, 0, 0, 1, 0, 0)">
                <i>User-centered</i>
              </span>
            </div>
            <div style="display: block; text-align: start; position: relative">
              <span style="transform: matrix(1, 0, 0, 1, 0, 0)">
                creativity<span class="dot">.</span>
              </span>
            </div>
          </div>
          <!-------------------------------------->
          <div
            class="block-content"
            style="
              transform: translate(0%, -11.0123%) translate3d(0px, 0px, 0px);
            "
          >
            <div class="intro" style="">
              <div
                style="display: block; text-align: start; position: relative"
              >
                <span style="transform: matrix(1, 0, 0, 1, 0, 0)">
                  <i>User-centered</i>
                </span>
              </div>
              <div
                style="display: block; text-align: start; position: relative"
              >
                <span style="transform: matrix(1, 0, 0, 1, 0, 0)">
                  creativity<span class="dot">.</span>
                </span>
              </div>
            </div>
            <p style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0)">
              Efficient and immersive user experience is the way to capture
              attention and deliver a clear message. This is why we believe,
              first and foremost, that usability serves design. And that all
              design must be elegant and innovative.
            </p>
            <a
              href="https://www.wokine.com/en/projects/"
              class="link"
              style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0)"
              ><span class="txt">See our work</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
