.subtitle1 {
  display: inline;
}

.cover {
  background-color: #fffefa;
  background-image: url("http://localhost:3000/img/MovieBackground.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.content {
  padding: 0 5rem;
}

img {
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  opacity: 1 !important;
}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.card {
  padding: 1rem;
  -webkit-box-shadow: 10px 9px 7px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 9px 7px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 9px 7px -7px rgba(0, 0, 0, 0.75);
}

h3 {
  font-weight: bold;
  line-height: 2;
  font-size: 2rem;
}

.title-block .container {
  text-align: center;
  font-size: 1.6rem;
  background-color: #f3f3f3;
}

.title-block {
  padding-bottom: 4rem;
}

#seep {
  opacity: 0.8;
  transition: transform 0.5s, opacity 0.5s;
}

#seep:hover {
  opacity: 1;
}
