<div class="cover">
  <div class="title-block">
    <div class="container" id="seep">
      <h3>Fantastic Films</h3>
      <div class="subtitle1">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro, illo?
          Cumque magnam impedit dolor rerum ducimus aperiam similique architecto
          inventore aspernatur. Numquam magni praesentium vitae quae maiores
          dicta vel molestias?
        </p>
        <!-- <button class="btn btn-primary" (click)="SortByYear()">Sort</button> -->
      </div>
    </div>
  </div>
  <div class="container-fluid content">
    <div class="row">
      <div *ngFor="let movie of movies" class="col-lg-3 col-md-6 col-sm">
        <div class="card" id="seep">
          <a [routerLink]="['movie-display', movie.id]"
            ><img
              class="card-img-top"
              [src]="'http://localhost:3000/img/imgMovies/' + movie.imageCover"
              alt="Default"
          /></a>
          <div class="card-body text-center">
            <h5 class="card-title">{{ movie.title }}</h5>
            <!-- <p class="card-text">{{ movie.summary }}</p> -->
            <a
              [routerLink]="['movie-display', movie.id]"
              class="btn btn-primary"
              >Take a look!</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
