<nav class="navbar navbar-fixed-top" id="navbar">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav mr-auto">
        <!-- <li><a href="#" class="nav-link">Home</a></li> -->
        <!--FIXME:-->
        <li><a class="nav-link" routerLink="">Home</a></li>
        <li><a class="nav-link" routerLink="/aboutPage">About</a></li>
        <li><a class="nav-link" routerLink="/education">Education</a></li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Blog Pages</a
          >
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/masoud-games">Games</a>
            <a class="dropdown-item" routerLink="/hobbies-movies">Movies</a>
            <a class="dropdown-item" routerLink="/hobbies-music">Music</a>
          </div>
        </li>
        <li><a class="nav-link" routerLink="/shopPage">Store</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
