.nav-link {
  color: #3898ff;
  font-weight: bold;
}

nav {
  font-size: 1.2rem;
}

// .navbar-nav {
//   flex-direction: row;
// }

.nav-link {
  padding-right: 2rem !important;
  padding-left: 0.5rem !important;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

.navbar {
  background-color: #0f0f0e;
}
