img {
  width: 100%;
  // width: 50%;
  height: 40%;
}

h3 {
  font-weight: bold;
  font-size: 1.4rem;
}

.row {
  padding: 1rem 0;
}

.title {
  padding: 2rem 0 0 1.4rem;
}

.btn {
  padding: 0 !important;
}

.image-container:hover > div {
  opacity: 0.5;
}

.featured-project h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
  padding-bottom: 1.5rem;
}

.content {
  padding-left: 0.5rem;
}

.featured-project {
  background-color: #f3f3f3;
  // padding: auto 5rem 5rem 0;
}

.featured-project .image-container {
  overflow: hidden;
  -webkit-box-shadow: 10px 9px 7px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 9px 7px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 9px 7px -7px rgba(0, 0, 0, 0.75);
}

.game-content {
  margin: auto 0;
}

.gallery {
  padding: 2rem 0;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-around;
}

.gallery .image-container {
  overflow: hidden;
  -webkit-box-shadow: 10px 9px 7px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 9px 7px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 9px 7px -7px rgba(0, 0, 0, 0.75);
}

.image-container img {
  opacity: 0.8;
  transition: transform 0.5s, opacity 0.5s;
}

.image-container img:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#gallery-photos img {
  width: 100%;
  height: 20vw;
}

.info {
  margin: auto 0;
}

footer {
  // background-color: #f3f3f3;
  background-color: #0f0f0e;
  padding: 5.2rem 0;
  text-align: center;
  color: white;
}

.footer strong {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

footer p {
  margin: 1.4rem auto;
}
