<div class="container-fluid title">
  <h3>Hobbies and Interests</h3>
  <p>
    Growing up in the nineties and 2000's, video games were a big part of our
    childhood. Here's a few that we can never forget
  </p>
</div>
<div class="featured-project container-fluid">
  <!-- <div class="container"> -->
  <div class="row content">
    <div *ngIf="games.FavouriteMessage" class="col-md-12">
      <h2>A Time Tested Classic</h2>
    </div>
    <div class="col-md-4">
      <div class="image-container">
        <a [href]="'http://localhost:3000/img/imgGames/' + games.imageCover"
          ><img
            [src]="'http://localhost:3000/img/imgGames/' + games.imageCover"
            alt="Game Cover"
        /></a>
        <!-- you were doing js string interp..... dont forget to data bind on [src] and use html string interp i.e '+ obejct.name' -->
      </div>
    </div>
    <div class="col-md-6 col-xs-6">
      <span style="font-weight: bold"
        ><h2>{{ games.title }}</h2></span
      >
      <div class="game-content">
        <div class="row">
          <div class="col-4">
            <p>{{ games.developer }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Released: {{ games.year }}</p>
          </div>
        </div>
        <div class="row info">
          <h5><span style="color: #399bd1">Summary</span></h5>
        </div>
        <div class="row">
          <p class="col-8">{{ games.summary }}</p>
        </div>
        <div class="row info">
          <h5>Description</h5>
        </div>
        <div class="row">
          <p class="col-8">{{ games.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      <div *ngIf="games.FavouriteMessage">
        <h3>Why its my Favourite</h3>
        <p>{{ games.FavouriteMessage }}</p>
      </div>
    </div>
  </div>
</div>

<div class="accordion gallery" id="accordionExample">
  <div class="container-fluid">
    <a
      class="btn btn-link"
      type="button"
      data-toggle="collapse"
      data-target="#collapseOne"
      aria-expanded="true"
      aria-controls="collapseOne"
    >
      <div>
        <h3>Photo Gallery <i class="fas fa-angle-down"></i></h3>
      </div>
    </a>
    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="gallery">
        <div *ngFor="let img of games.images">
          <div class="image-container" id="gallery-photos">
            <a [href]="'http://localhost:3000/img/imgGames/' + img">
              <img
                [src]="'http://localhost:3000/img/imgGames/' + img"
                alt="Game image"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab delectus
      nobis facere debitis aut tempora, sed, nihil harum quibusdam ea illo culpa
      consequuntur est dignissimos dicta adipisci autem! Ullam, rerum.
    </p>
  </div>
</footer>
