<div class="cover">
    <div class="title-block">
      <div class="container" id="seep">
        <h3>Music Pun</h3>
        <div class="subtitle1">
          <p>
            Classics we can never forget and new music we can't imagine never listening too!
          </p>
          <p></p>
          <!-- <button class="btn btn-primary" (click)="SortByYear()">Sort</button> -->
        </div>
      </div>
    </div>
    <div class="container-fluid content">
      <div class="row">
        <div *ngFor="let album of albums" class="col-lg-6 col-xl-3">
          <div class="card" id="seep">
            <a [routerLink]="['music-display', album._id]"
              ><img
                class="card-img-top"
                [src]="'http://localhost:3000/img/imgAlbums/' + album.imageCover"
                alt="Default"
            /></a>
            <div class="card-body text-center">
              <h5 class="card-title">{{ album.album }}</h5>
              <p class="card-text">{{ album.artist }}</p>
              <a [routerLink]="['music-display', album._id]" class="btn btn-primary">Take a look!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--you had https and you need to have a photo and name it default!-->
  