.cover {
  // background: rgb(241, 194, 147);
  // background: linear-gradient(90deg, rgba(241,194,147,0.5) 0%, rgba(232,170,109,0.5) 57%, rgba(238,173,107,0.5) 99%);
  // background-color: #5c5c5c;
  background-image: url("http://localhost:3000/img/AlbumBackgroundDark.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: #f3f3f3;
}

#seep {
  opacity: 0.9;
  transition: transform 0.5s, opacity 0.5s;
}

#seep:hover {
  opacity: 1;
}

.content {
  padding: 0 5rem;
}

img {
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.card {
  padding: 1rem;
  -webkit-box-shadow: 10px 9px 7px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 9px 7px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 9px 7px -7px rgba(0, 0, 0, 0.75);
}

h3 {
  font-weight: bold;
  line-height: 2;
  font-size: 2rem;
  opacity: 0.9;
  transition: transform 0.4s, opacity 0.4s;
}

.title-block {
  padding-bottom: 4rem;
  text-align: center;
  font-size: 1.6rem;
}

.title-block .container {
  background-color: #232323;
  border-radius: 3px;
  padding: 1rem 0;
  color: white;
}
