.bigText {
  font-size: 6rem;
  font-weight: 700;
}

.exclamationMark {
  color: #ffffff;
}

.box {
  height: 55rem;
  width: 90%;
  clear: both;
  margin: 5rem auto 1rem auto;
}

.blue {
  background: linear-gradient(90deg, #ffffff 50%, #00ffff 50%);
}

.blueBackground {
  background-color: #f2fefe; //#81f7f7d8
}

#outer {
  width: 100%;
  height: 80vh;
  display: flex;
}

#inner {
  margin: auto;
}

.paddingLeftCustom6 {
  padding-left: 6rem;
}
