<section class="box blue">
  <!--FIXME: May need to move box & colour into div with container-->
  <div class="container d-flex justify-content-center" id="outer">
    <div class="row" id="inner">
      <div class="col-6 text-center bigText paddingLeftCustom6">WEL</div>
      <div class="col-6 text-center bigText">COME!</div>
    </div>
  </div>
</section>

<section class="box blueBackground">
  <div class="text-center pt-3">
    Professional Projects &amp; Educational Projects
  </div>
  <div class="container d-flex justify-content-center pt-3" id="outer">
    <div class="row" id="inner">
      <div class="col">
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/images/leadGen.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Lead Generation Site</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/images/vani.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">WordPress site</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/images/grubx.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Food Deleivery App(Grub..)</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/images/scraper.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Web Scrapper</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/images/natours.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Natours Backend (Node.js class)</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/images/jwt.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">
              JWT backend with a simple front end authenticatior
            </h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/images/ngxAdmin.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">CMS (Ngx-Admin)</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/images/crypto.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">
              Crypto Currency Tracker (Flutter proejct)
            </h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/images/quizapp.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Quizzler app (Flutter Project)</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
