<div class="cover">
  <div class="title-block">
    <div class="container" id="seep">
      <h3>Retro(spective) Games</h3>
      <div class="subtitle">
        <p>
          Growing up in the nineties and 2000's, video games were a big part of
          our childhood.
        </p>
        <p>This is a few of our favourites, and hopefully yours too</p>
        <!-- <button class="btn btn-primary" (click)="SortByYear()">Sort</button> -->
      </div>
    </div>
  </div>
  <div class="container-fluid content">
    <div class="row">
      <div *ngFor="let game of games" class="col-lg-3 col-md-6">
        <div class="card">
          <a [routerLink]="['game-display', game.id]"
            ><img
              class="card-img-top"
              [src]="'http://localhost:3000/img/imgGames/' + game.imageCover"
              alt="Default"
          /></a>
          <div class="card-body text-center">
            <h5 class="card-title">{{ game.title }}</h5>
            <p class="card-text">{{ game.summary }}</p>
            <a [routerLink]="['game-display', game.id]" class="btn btn-primary"
              >Take a look!</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
