img {
  width: 100%;
}

h3 {
  font-weight: bold;
  font-size: 1.4rem;
}

.row {
  padding: 1rem 0;
}

.title-block {
  padding: 2rem 0 0 1.5rem;
}
// .navbar{
//     font-size: 1.1rem;
//     font-weight: bold;
//     /* display: inline; */
// }

// .nav  a{
//     color: #399bd1;
// }
// .navbar-brand img{
//     margin-left: 1rem;
//     width: auto;
// }

// .featured-project .row{
//     margin-top: 3rem;
// }

.featured-project h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
  padding-bottom: 1.5rem;
}

.featured-project {
  background-color: #f3f3f3;
}

.featured-project h3:last-child {
  color: #399bd1;
}

.projects .row {
  margin-bottom: 3rem;
}

.projects h2 {
  padding-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: transform 0.5s, opacity 0.5s;
}

.image-container img:hover {
  opacity: 1;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  /* height: auto; */
  /* width: auto; */
  /* z-index: 999; */
}

footer {
  background-color: #f3f3f3;
  padding: 5.2rem 0;
  text-align: center;
}

.footer strong {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

footer p {
  margin: 1.4rem auto;
}
