<!-- <h3>entertainment-page works!</h3> -->
<div class="container-fluid title-block">
  <h3>Hobbies and Interests</h3>
  <p>
    Growing up in the nineties and 2000's, video games were a big part of our
    childhood. Here's a few that we can never forget
  </p>
</div>
<div class="featured-project container-fluid">
  <div class="container">
    <div class="row">
      <h2 class="col-md-12">A time tested classic</h2>
      <div class="col-md-6">
        <div class="image-container">
          <img
            src="https://i.pinimg.com/originals/b6/9a/0d/b69a0da60b2358688626c3e26ae39a46.jpg"
            alt="Game Cover"
          />
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <h3>Synopsis</h3>
        <p>by Leo De Firenze</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="col-md-3 col-xs-6">
        <h3>Why its my Favourite</h3>
        <p>by Leo De Firenze</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>
<div class="projects container">
  <div class="row">
    <h2 class="col-md-12">Some More</h2>
    <div class="col-md-4 col-xs-8">
      <div class="image-container">
        <img
          src="https://cdn.hipwallpaper.com/i/11/30/TWEY5Q.jpg"
          alt="Game Cover"
        />
      </div>
      <h3>Fallout 3</h3>
      <p>Synopsis</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button class="btn btn-primary" type="submit">Click for more</button>
    </div>
    <div class="col-md-4 col-xs-8">
      <div class="image-container">
        <img
          src="https://store-images.s-microsoft.com/image/apps.54771.63131787694667297.e786edde-5064-499d-9660-f3d7c293ceaa.fc6bab12-c6bc-451d-b5f9-5e128e481294?mode=scale&q=90&h=1080&w=1920"
          alt="Game Cover"
        />
      </div>
      <h3>Darkest Dungeon</h3>
      <p>Synopsis</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button class="btn btn-primary" type="submit">Click for more</button>
    </div>
    <div class="col-md-4 col-xs-8">
      <div class="image-container">
        <img
          src="https://d2jcw5q7j4vmo4.cloudfront.net/l8uzzWnX2m3waGqYglnmu1MuI_9YdKM6ck8deMeTAhw0oGWk2qOHDODMxw0_FWMEMfU=w512"
          alt="Game Cover"
        />
      </div>
      <h3>Fate Stay/Night</h3>
      <p>Synopsis</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button class="btn btn-primary" type="submit">Click for more</button>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab delectus
      nobis facere debitis aut tempora, sed, nihil harum quibusdam ea illo culpa
      consequuntur est dignissimos dicta adipisci autem! Ullam, rerum.
    </p>
  </div>
</footer>
