.bigText {
  font-size: 6rem;
  font-weight: 700;
}

.exclamationMark {
  color: #ffffff;
}

.box {
  height: 55rem;
  clear: both;
  margin: auto;
}

.blueGrey {
  background: linear-gradient(180deg, #ffffff 50%, #414a6b 50%);
}

.grey {
  background-color: #f8f8f8da; // #F8F8F8
}

#outer {
  width: 100%;
  // height: 82vh;
  display: flex;
}

#inner {
  margin: auto;
}

.marginTopCustom7 {
  margin-top: 7rem;
}

.vertical_align {
  vertical-align: inherit;
}
