<section>
  <div class="container box blueGrey" id="outer">
    <div class="row" id="inner">
      <div class="col-12 bigText marginTopCustom7">EDUCATION</div>
      <div class="w-100"></div>
      <div class="col-6">
        <!--FIXME: the ul causes the text: Education to not be aligned on smaller screens-->
        <div class="ul">
          Electronics Engineering Technology – Control Systems
        </div>
        <div class="ul">
          NODE.JS, EXPRESS, MONGODB & MORE: THE COMPLETE BOOTCAMP
        </div>
        <div class="ul">ANGULAR 8 – THE COMPLETE GUIDE (2020 EDITION)</div>
        <div class="ul">
          THE COMPLETE 2020 FLUTTER DEVELOPMENT BOOTCAMP WITH DART
        </div>
        <div class="ul">
          JavaScript - The Complete Guide 2021 (Beginner + Advanced)
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <section>
    <div class="container box grey">
      <div class="row">
        <div class="col-lg-3 d-flex align-items-center">
          <div class="card">
            <img
              class="card-img-top"
              src="../../assets/images/avatarImg.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Masoud Johnson</h5>
              <p class="card-text">Jr. developer - Full Stack/Android Dev.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i
                  class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                >Designer
              </li>
              <li class="list-group-item">
                <i
                  class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                >London, UK
              </li>
              <li class="list-group-item">
                <i
                  class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                >ex@mail.com
              </li>
              <li class="list-group-item">
                <i
                  class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                >1224435534
              </li>
            </ul>
            <!-----------------------Skills----------------------------->
            <div class="card-body">
              <b
                ><i
                  class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"
                ></i
                >Skills</b
              >
              <p>Adobe Photoshop</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 25%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  25%
                </div>
              </div>
              <hr />
              <p>Photography</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 25%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  25%
                </div>
              </div>
              <hr />
              <p>Illustrator</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 25%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  25%
                </div>
              </div>
              <hr />
              <p>Media</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 25%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  25%
                </div>
              </div>
              <hr />
            </div>
            <hr />
            <!---------------------Languages----------------------->
            <div class="card-body">
              <b
                ><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i
                >Languages</b
              >
              <p>English</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 100%"
                  aria-valuenow="100"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  100%
                </div>
              </div>
              <hr />
              <p>French</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 25%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  25%
                </div>
              </div>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <!---------------------------Second Half------------------------------------------------>
        <div class="col-lg-9 colour-yellow pl-5">
          <div class="card">
            <h5 class="card-header">Work Experience</h5>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <hr />
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <hr />
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <!-----------------------Education-->
          <div class="card">
            <h5 class="card-header">Education</h5>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <hr />
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <hr />
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
